absl-py==0.10.0
appdirs==1.4.3
asgiref==3.2.3
astor==0.8.1
astroid==2.3.3
audiofile==0.2.4
audioplayer==0.6
beautifulsoup4==4.8.2
bleach==1.5.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
comtypes==1.1.7
cryptography==2.9.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.3
django-allauth==0.41.0
django-picklefield==2.1.1
et-xmlfile==1.0.1
filelock==3.0.12
gast==0.4.0
grpcio==1.32.0
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
h5py==2.10.0
html5lib==0.9999999
idna==2.8
isort==4.3.21
jdcal==1.4.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
Markdown==3.3.1
mccabe==0.6.1
numpy==1.19.2
oauthlib==3.1.0
opencv-python==4.4.0.44
openpyxl==3.0.2
Pillow==7.0.0
playsound==1.2.2
plyer==1.4.3
protobuf==3.13.0
psutil==5.7.2
psycopg2==2.8.5
PyAudio==0.2.11
pycparser==2.20
pycryptodome==3.9.7
pygame==1.9.6
PyJWT==1.7.1
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
pypiwin32==223
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.5
python-dotenv==0.14.0
python3-openid==3.1.0
pyttsx==1.1
pyttsx3==2.81
pytube==9.5.3
pytz==2019.3
pywin32==227
PyYAML==5.3.1
requests==2.22.0
requests-oauthlib==1.3.0
scipy==1.5.2
screen-brightness-control==0.3.0
six==1.13.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
SoundFile==0.10.3.post1
soupsieve==1.9.5
sox==1.4.1
SpeechRecognition==3.8.1
sqlparse==0.3.0
tensorboard==1.8.0
tensorflow @ https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl
termcolor==1.1.0
urllib3==1.25.8
virtualenv==20.0.10
volux==0.9.17
Werkzeug==1.0.1
whitenoise==5.2.0
wikipedia==1.4.0
Wikipedia-API==0.5.3
WMI==1.5.1
wrapt==1.11.2
