<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>


    <style>
      .stylee{
        margin-left: 20px;
        margin-right: 20px;
      }
     </style>

    {% block css %}

   {% endblock css %}

  </head>
 
  <body >

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
    {% block script %} {% endblock script %}
                                  <!-- Nav bar  -->
                                 <!-- Nav bar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top h-13">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">
          <img src="/media/home/bank1.jpg" width="90" height="90"  alt="">
        </a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" style="font-size: 50px; font-family: 'Times New Roman', Times, serif;" href="/"><strong>MBI</strong><span class="sr-only">(current)</span></a>
          </li>
         <li class="nav-item {% block aactive %} {% endblock aactive %}">
          <a class="nav-link" style="font-size: 50px; font-family: 'Times New Roman', Times, serif;" href="/Admin"><strong>Admin</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block active %} {% endblock active %}">
          <a class="nav-link" style="font-size: 50px; font-family: 'Times New Roman', Times, serif;" href="/Admin/upload"><strong>Upload</strong></a>
        </li>

</ul>
<a href="/Admin/eligibilty">        
  <button type="button" style="margin-right: 20px; font-size: 20px;" class="btn btn-outline-warning btn-lg " >
    Check eligibility
  </button>
  </a>
<a href="/Admin/customer">        
  <button type="button" style="margin-right: 20px; font-size: 20px;" class="btn btn-outline-warning btn-lg " >
    Customers
  </button>
  </a>
 <a href="/">        
<button type="button" style="margin-right: 20px; font-size: 20px;" class="btn btn-outline-warning btn-lg " >
  Logout ...
</button>
</a>
      </div>
    </nav>
    <br>
    {% if messages %}
    {% for message in messages %}
    <div style="margin-top: 90px;">
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <div style="font-size: 30px; font-family:'Times New Roman', Times, serif;"><strong>Message : </strong>{{message}}.</div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div> 
    {% endfor %} 
    {% endif %}  
                                                  <!-- Ending nav bar -->  
    {% block body %}
   {% endblock body %}  

   <br>
                      <!-- Ending lines  -->
   <div class="container-fluid" style="margin-top: 10px; border-top: 10px solid orange;">
  <div class="row" style="background-color:rgba(235, 165, 235, 0.295); height: 500px;">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <img src="/media/home/lion.jpg" class="" style="height:500px; width: 700px; background-color:rgba(189, 63, 184, 0.295);" alt="">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 mt-5" style="font-size: 40px;" >
     <p><b>Address :</b>Times Tower, 1st Floor, Kamala Mills Compound, Lower Parel, Mumbai, Maharashtra 400013</p>
    <P><b>Toll Free Number :</b>(020) 2567 8300</P>
    <p><b>Email :</b> mbiloan.mbi.com</p>
  </div>
 
   </div>
   <div class="container-fluid" style="height: 50px; background-color: rgb(65, 58, 58);">
      <p style="margin-left: 10px; color: white;"><b>MBI e-Governance Infrastructure Ltd. Copyright © 2017 Mahajan Bank Of India</b></p>
   </div>
  </body>
</html>