<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <title>{% block title %} {% endblock title %}</title>

  <script>
    // Disable form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>

  <style>
    * {
      font-family: 'Roboto Slab', serif;
    }

    .message {
      font-size: 1.4vw;
      margin-top: 3%;
    }

    .stylee {
      margin-left: 20px;
      margin-right: 20px;
    }

    .logo {
      height: 2vw;
      width: 3vw;
    }

    .nav-link {
      font-size: 1.3vw;
    }

    .button {
      width: 50vw;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .links {
      display: flex;
      width: 50vw;
    }

    .button .btn {
      font-size: 1vw;
    }

    h5 {
      font-size: 2vw;
    }

    p {
      font-size: 1.5vw;
    }

    /* modal */
    .modal-title {
      font-size: 1.3vw !important;
    }

    label,
    input,
    .valid-feedback,
    .invalid-feedback,
    .modal-btn, textarea {
      font-size: 1.5vw !important;
    }

    .footer-img {
      width: 80%;
      height: 20vw !important;
    }

    .footer-cont {
      padding-top: 5vw;
    }

    @media only screen and (max-width:1000px) {
      .logo {
        height: 2.6vw;
        width: 3.6vw;
      }

      .links {
        flex-flow: column;
      }

      .message {
        margin-top: 5%;
      }
    }

    @media only screen and (max-width:800px) {

      .logo {
        height: 3vw;
        width: 3.9vw;
      }

      .nav-link {
        font-size: 1.5vw;
      }

      .button .btn {
        font-size: 1.3vw;
      }

      .modal-title {
        font-size: 1.7vw !important;
      }

      label,
      input,
      .valid-feedback,
      .invalid-feedback,
      .modal-btn, textarea {
        font-size: 1.7vw !important;
      }
    }

    @media only screen and (max-width:600px) {
      .message {
        margin-top: 7%;
      }

      .logo {
        height: 6vw;
        width: 7vw;
      }

      .button {
        width: 100vw;
        margin-left: 0px !important;
      }

      .nav-link {
        font-size: 2.3vw;
      }

      .button .btn {
        font-size: 1.9vw;
      }

      .modal-dialog {
        width: 60vw !important;
        margin: auto;
      }
    }

    @media only screen and (max-width:450px) {
      .message {
        margin-top: 10%;
        font-size: 1.9vw !important;
      }

      .logo {
        height: 8vw;
        width: 10vw;
      }

      .button {
        margin-left: -18px !important;
      }

      .nav-link {
        font-size: 2.6vw;
      }

      .button .btn {
        font-size: 2.3vw;
      }

      .modal-title {
        font-size: 2.5vw !important;
      }

      label,
      input,
      .valid-feedback,
      .invalid-feedback,
      .modal-btn, textarea {
        font-size: 2.5vw !important;
      }

      .footer-cont {
        padding-top: 1vw;
      }
    }
  </style>

  {% block css %} {% endblock css %}
</head>

<body>


  {% block script %} {% endblock script %}
  <!-- Nav bar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="links">
        <a class="navbar-brand" href="/">
          <img src="/media/home/bank1.jpg" class="logo" alt="logo">
        </a>

        <ul class="navbar-nav mr-auto ">
          <li class="nav-item active">
            <a class="nav-link" href="/"><strong>MBI</strong><span class="sr-only ">(current)</span></a>
          </li>
          <li class="nav-item {% block Hactive %} {% endblock Hactive %}">
            <a class="nav-link" href="/"><strong>Home</strong><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% block Aactive %} {% endblock Aactive %}">
            <a class="nav-link" href="/about"><strong>About us</strong></a>
          </li>

        </ul>
      </div>
      {% if user.is_authenticated %}
      <div class="button">
        <div class="btn-group">
          <a href="/services"> <button type="submit" class="btn btn-outline-warning">
              Apply for loan </button></a>
        </div>
        <div class="btn-group">
          <a href="/update"> <button type="submit" class="btn btn-outline-warning">
              Updates <span class="badge badge-light">{% block messages%}{% endblock messages %}</span>
            </button></a>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-warning " data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            welcome {{request.user}}
          </button>
          <div class="dropdown-menu ">
            <a class="dropdown-item" " href=" /logout"><span>Logout</span></a>
            <a class="dropdown-item" href="/myprofile"><span>My Profile</span></a>
          </div>
        </div>
      </div>
      {% else %}
      <div class="button">
        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#admin">
          Admin
        </button>
        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#forgot">
          Forgot Password
        </button>
        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#staticBackdrop1">
          Sign UP .....
        </button>
        <button type="button" class="btn btn-outline-warning  " data-toggle="modal" data-target="#loginModal">
          Login ...
        </button>
        {% endif %}
      </div>
    </div>
  </nav>
  <br>

  {% if messages %}
  {% for message in messages %}
  <div class="message">
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <div><strong>Message from website :
        </strong>{{message}}.</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <!-- Ending nav bar -->
  <!-- Button trigger modal -->

  <!-- sign Modal -->

  <div class="modal fade" id="staticBackdrop1" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Sign up !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="/signup/" class="was-validated" method="POST"> {% csrf_token %}
              <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" name="fname" class="form-control" id="exampl" placeholder="First Name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="lname" name="lname" class="form-control" id="exampl2" placeholder="Last Name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="exampl21" placeholder="name@gmail.com"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="exampl3" placeholder="password"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="cpasword">Confirm Password</label>
                <input type="password" name="cpassword" class="form-control" id="exampl4" placeholder="Confirm Password"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="number">Number</label>
                <input type="number" name="number" class="form-control" id="example" placeholder="Mobile Number"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary modal-btn ">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>



  <!-- login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="/login/" class="was-validated" method="POST"> {% csrf_token %}
              <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" name="fname" id="exampleFormControlInput1"
                  placeholder="first name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" name="lname" id="exampleFormControlInput2"
                  placeholder="last name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" name="loginemail" id="exampleFormControlInput11"
                  placeholder="name@example.com" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Password</label>
                <input type="password" class="form-control" name="loginpassword" id="exampleFormControl1Input1"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

          </div>
          <div class="modal-footer">

            <button type="submit" class="btn btn-primary modal-btn">Login</button>
            <button type="submit" class="btn btn-secondary modal-btn" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  </form>
  <!-- admin model  -->
  <div class="modal fade" id="admin" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Enter the correct details !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="/Admin/" class="was-validated" method="POST"> {% csrf_token %}
              <div class="form-group">
                <label for="username">Username : </label>
                <input type="text" name="username" class="form-control" id="ueer" placeholder="User name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="lname">Security key :</label>
                <input type="password" name="key" class="form-control" id="expl2" placeholder="Enter Security key "
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary modal-btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <!-- forgot model -->
  <div class="modal fade" id="forgot" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"> Your new Password will be sent to your registerd email !
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="/forgot/" class="was-validated" method="POST"> {% csrf_token %}
              <div class="form-group">
                <label for="username">First Name : </label>
                <input type="text" name="username" class="form-control" id="ueer" placeholder="First name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="lname">Last Name :</label>
                <input type="text" name="key" class="form-control" id="expl2" placeholder="Last name " required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary modal-btn">Forgot Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>


  <!-- ending model -->
  {% block body %}
  {% endblock body %}
  {% if user.is_authenticated %}

  <p class="heading" style=" color: green; ">Upload
    your valuabe feedback here .........</p>
  <div class="container mt-1 mb-1">
    <form action="/feedback/" method="POST">{% csrf_token %}
      <div class="form-group">
        <label for="exampleFormControlTextarea1" style="color: blue;"><strong>FeedBack :
          </strong></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="feed"
          placeholder="Write your feedback here" rows="2"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-sm modal-btn">Submit</button>
      <p><strong>Note : </strong>Your feedback , profile and name will be
        seen to all our customers </p>
  </div>
  </form>

  {% endif %}

  {% block feed %} {% endblock feed %}
  <!-- Ending lines  -->
  <div class="container-fluid footer "
    style="margin-top: 10px; border-top: 10px solid orange; background-color:rgba(235, 165, 235, 0.295);">
    <div class="row" ">
      <div class=" col-sm-6 col-6 col-md-6 col-lg-6">
      <img src="/media/home/lion.jpg" class="footer-img" alt="">
    </div>
    <div class="col-sm-6 col-6 col-md-6 col-lg-6 footer-cont">
      <p><b>Address :</b>Times Tower, 1st Floor, Kamala Mills Compound, Lower Parel, Mumbai, Maharashtra 400013</p>
      <P><b>Toll Free Number :</b>(020) 2567 8300</P>
      <p><b>Email :</b> mbiloan.mbi.com</p>
    </div>

  </div>
  <div style="width: 100%; background-color: rgb(65, 58, 58);">
    <p style="color: white;"><b>MBI e-Governance Infrastructure Ltd. Copyright © 2017 Mahajan Bank
        Of India</b></p>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>