{% extends 'basic.html' %}

{% block css %}
<style>
  .heading {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5vw;
    margin-top: 3%;
  }

  .card {
    width: 70vw;
    margin: auto;
  }

  h5 {
    font-size: 1.5vw;
  }

  p {
    font-size: 1vw;
  }
  

  @media only screen and (max-width:850px) {
    h5 {
      font-size: 2vw;
    }

    p {
      font-size: 1.8vw;
    }
  }

  @media only screen and (max-width:500px) {
    .heading {
      font-size: 3vw;
    }

    h5 {
      font-size: 2.7vw;
    }

    p {
      font-size: 2.5vw;
    }
  }
</style>
{% endblock css %}
{% block body %}
<div class="mt-5">
  <p class="heading">These are the updates about our Bank related Services</p>
</div>
{% if total != 0 %}
<p class="heading" style="color: orange;"">Latest Updates</p>
<hr>
{% endif %}
{% for i in allupdates %}

{% if forloop.counter0 == total %}
<p class=" heading" style="color: orange;">Previous Updates</p>
<hr>
{% endif %}

<div class="container mt-5">
  <div class="card" style=" border: 2px rgb(36, 105, 184) solid; ">
    <div class="card-body">
      <h5 style="text-decoration: underline; color: yellow;">{{i.Topic}}</h5>
      <hr>
      <p style="color: green;">{{i.Content}}</p>
      <hr>
      <p style="float: inline-end; "><strong>Uploded on :</strong> {{i.Upload_date}}</p>
    </div>
  </div>

</div>
{% endfor %}

{% endblock body %}